#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper{
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.accordian{
  width: 500px;
}

.item{
  background-color: black;
  border: 3px solid plum;
  border-radius: 30px 0px 30px 0px;
  margin-bottom: 10px;
  padding: 8px 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
